<!DOCTYPE html>
<html lang="ukr-eng">
<head>
    <meta charset="UTF-8"/>
    <title>{{ name }}</title>
    <link
            rel="shortcut icon"
            type="image/png"
            href="https://img.icons8.com/nolan/64/html-filetype.png"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"
    ></script>
</head>
<body onload="select_language('ukr')" style="font-family: 'Fira Code', serif; background-color: #ffff">

{% include 'header.twig' %}
<div class="d-flex flex-row m-3">
    <div class="col-8">{% block content %}{% endblock %}</div>
    <div class="col-4 myForm">
        <form class="needs-validation" novalidate>
            <div class="flex-row">
                <div class="col mb-3">
                    <h5 class="h5 form-header text-uppercase" lang="ukr">Форма заявки</h5>
                    <h5 class="h5 form-header text-uppercase" lang="eng">Application form</h5>
                </div>
            </div>
            <div class="flex-row">
                <div class="col mb-3">
                    <label for="firstName" lang="ukr">Ваше ім'я</label>
                    <label for="firstName" lang="eng">Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Введіть Ваше Ім'я" value=""
                           required>
                    <div class="invalid-feedback">
                        <span lang="ukr">Поле з іменем має бути заповненим</span>
                        <span lang="eng">The name field must be filled</span>
                    </div>

                </div>
            </div>
            <div class="flex-row">
                <div class="col mb-3">
                    <label for="secondName" lang="ukr">Ваше прізвище</label>
                    <label for="secondName" lang="eng">Surname</label>
                    <input type="text" class="form-control" id="secondName" placeholder="Введіть Ваше прізвище" value=""
                           required="">
                    <div class="invalid-feedback">
                        <span lang="ukr">Поле з прізвищем має бути заповненим.</span>
                        <span lang="eng">The last name field must be filled.</span>
                    </div>
                </div>
            </div>
            <div class="flex-row">
                <div class="col mb-3">
                    <label for="email" lang="ukr">Ваш e-mail</label>
                    <label for="email" lang="eng">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="Введіть Ваш e-mail" value=""
                           required="">
                    <div class="invalid-feedback">
                        <span lang="ukr">Поле email має бути коректно заповнено.</span>
                        <span lang="eng">The email field must be filled in correctly.</span>
                    </div>

                </div>
            </div>
            <div class="flex-row">
                <div class="col mb-3">
                    <label for="phone" lang="ukr">Телефон (формат: +38(xxx)xxxxxxx )</label>
                    <label for="phone" lang="eng">Phone (format: +38(xxx)xxxxxxx )</label>
                    <input type="tel" class="form-control" id="phone" placeholder="Введіть Ваш телефон" value=""
                           pattern="^\+38\(\d{3}\)\d{7}$" required>
                    <div class="invalid-feedback">
                        <span lang="ukr">Поле телефону має бути заповнене.</span>
                        <span lang="eng">The phone field must be filled.</span>
                    </div>
                </div>
            </div>
            <div class="flex-row">
                <div class="col mb-3">
                    <label for="extraText" lang="ukr">Текст заявки</label>
                    <label for="extraText" lang="eng">The text of the application</label>
                    <textarea class="form-control" id="extraText" placeholder="" value=""
                              required=""></textarea>
                    <div class="invalid-feedback">
                        <span lang="ukr">Поле тексту заявки має бути заповненим.</span>
                        <span lang="eng">The text field of the application must be filled.</span>
                    </div>
                </div>
            </div>
            <div class="flex-row">
                <div class="col mb-3">
                    <button type="submit" class="btn btn-success btn btn-block text-uppercase"><span lang="ukr">Подати заявку</span><span
                                lang="eng">Submit application</span></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="d-flex flex-row justify-content-center">
    <div id="adminToast" class="toast" data-autohide="true" data-delay="2000">
        <div class="toast-body bg-success">
            <span lang="ukr">Заявка направлена на підтвердження адміністратору!</span>
            <span lang="eng">The application is sent for confirmation to the administrator!</span>
        </div>
    </div>
    <div id="clientToast" class="toast" data-autohide="true" data-delay="2000">
        <div class="toast-body bg-success">
            <span lang="ukr">Лист надіслано Вам на пошту!</span>
            <span lang="eng">The letter was sent to you by mail!</span>
        </div>
    </div>
</div>
</div>
<script>

    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {
                        event.preventDefault();
                        event.stopPropagation();

                        $.ajax({
                            type: "POST",
                            url: "/api/addresses",
                            dataType: "json",
                            data: JSON.stringify({
                                name: $(this).find("[id=firstName]").val(),
                                surname: $(this).find("[id=secondName]").val(),
                                email: $(this).find("[id=email]").val(),
                                phone: $(this).find("[id=phone]").val(),
                                text: $(this).find("[id=extraText]").val(),
                            }),
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("Content-Type", "application/json");
                            },
                            success: (resp) => {
                                if (resp.status !== "false") {
                                    $('#clientToast').toast('show');
                                } else {
                                    console.log(resp);
                                    $('#adminToast').toast('show');
                                }

                            },
                            error: function (xhr) {
                                console.log(xhr.responseJSON);
                            },
                        });
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
<style>
    .myForm {
        border: 2px {{ mColor }} solid;
        padding: 8px 0 8px 0;
        display: inline-table;
    }

    .form-header {
        padding: 5px;
        text-align: center;
        color: #ffff;
        background-color: {{ mColor }};
    }
</style>
</html>
