{% extends "../client.twig" %}
{% block content %}
    <div class="d-flex flex-column">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <p class="lead" lang="ukr">Більшість відвідувачів наших тренінгів їх не потребують, оскільки не
                    піддаються
                    навчанню.
                    Але вониплатеспроможні, і в цьому основна суть тренінгів.</p>
                <p class="lead" lang="eng">Most visitors to our trainings do not need them because they do not
                    exposed
                    training.
                    But they are solvent, and this is the main essence of training.</p>
            </div>
        </div>
        <p lang="ukr">Наш тренінговий цейнтр є найкрутішим у світі!</p>
        <p lang="eng">Our training center is the coolest in the world!</p>
        <p lang="urk">Заповніть заявку, і з Вами зв'яжеться менеджер. Тільки спробуйте не заповнити або заповнити
            неправильно!</p>
        <p lang="eng">Fill out the application and the manager will contact you. Just try not to fill in or fill out
            wrong!</p>
    </div>{% endblock %}