{% extends "../client.twig" %}

{% block content %}
    <div class="d-flex flex-column">
        <img src="{{ mainPageImg }}" alt="Main page image"/>
        <div class="d-flex flex-column">
            <h1 lang="ukr">Насолоджуйтесь послугами нашого тренінгового центру</h1>
            <h1 lang="eng">Enjoy the services of our training center</h1>
            <p lang="ukr">Хто не хоче насолоджуватися - Вам же гірше. Ми Вас знайдемо і доведемо і Вам особисто, і Вашим
                потенійним
                роботодавцям, що ви нічого не знаєте.</p>
            <p lang="eng">Who does not want to enjoy - you are worse. We will find you and prove you personally and your
                sweaty
                employers that you know nothing about.</p>
        </div>
    </div>
{% endblock %}
